<a href="https://colab.research.google.com/github/Praise-Oluwasikemi/tag-along/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
pip install pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (2.0.3)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.10/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2023.4)
Requirement already satisfied: tzdata>=2022.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2024.1)
Requirement already satisfied: numpy>=1.21.0 in /usr/local/lib/python3.10/dist-packages (from pandas) (1.25.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [3]:
import pandas as pd

In [4]:
import numpy as np

In [5]:
import seaborn as sns

In [6]:
import matplotlib.pyplot as plt

In [10]:
df = pd.read_csv('/FoodBalanceSheets_E_Africa_NOFLAG.csv', encoding = "latin-1")

In [12]:
df.head()

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.00,39728.00,40551.00,41389.00,42228.00
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.00,3379.00,3372.00,3341.00,3322.00
3,4,Algeria,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,94.90,94.35,94.72,92.82,91.83
4,4,Algeria,2901,Grand Total,684,Fat supply quantity (g/capita/day),g/capita/day,80.06,79.36,77.40,80.19,77.28

In [14]:
df.tail()

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
60938,181,Zimbabwe,2899,Miscellaneous,5142,Food,1000 tonnes,42.00,46.00,33.00,19.00,16.00
60939,181,Zimbabwe,2899,Miscellaneous,645,Food supply quantity (kg/capita/yr),kg,3.06,3.33,2.35,1.33,1.08
60940,181,Zimbabwe,2899,Miscellaneous,664,Food supply (kcal/capita/day),kcal/capita/day,3.00,4.00,3.00,1.00,1.00
60941,181,Zimbabwe,2899,Miscellaneous,674,Protein supply quantity (g/capita/day),g/capita/day,0.10,0.11,0.08,0.04,0.04
60942,181,Zimbabwe,2899,Miscellaneous,684,Fat supply quantity (g/capita/day),g/capita/day,0.04,0.05,0.03,0.02,0.01

In [17]:
df.isna().sum()

Area Code          0
Area               0
Item Code          0
Item               0
Element Code       0
Element            0
Unit               0
Y2014           1589
Y2015           1548
Y2016           1535
Y2017           1506
Y2018           1436
dtype: int64

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60943 entries, 0 to 60942
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Area Code     60943 non-null  int64
 1   Area          60943 non-null  object
 2   Item Code     60943 non-null  int64
 3   Item          60943 non-null  object
 4   Element Code  60943 non-null  int64
 5   Element       60943 non-null  object
 6   Unit          60943 non-null  object
 7   Y2014         59354 non-null  float64
 8   Y2015         59395 non-null  float64
 9   Y2016         59408 non-null  float64
 10  Y2017         59437 non-null  float64
 11  Y2018         59507 non-null  float64
dtypes: float64(5), int64(3), object(4)
memory usage: 5.6+ MB

In [19]:
df.describe()

,Area Code,Item Code,Element Code,Y2014,Y2015,Y2016,Y2017,Y2018
count,60943.000000,60943.000000,60943.000000,59354.000000,59395.000000,59408.000000,59437.000000,59507.000000
mean,134.265576,2687.176706,3814.856456,134.196282,135.235966,136.555222,140.917765,143.758381
std,72.605709,146.055739,2212.007033,1567.663696,1603.403984,1640.007194,1671.862359,1710.782658
min,4.000000,2501.000000,511.000000,-1796.000000,-3161.000000,-3225.000000,-1582.000000,-3396.000000
25%,74.000000,2562.000000,684.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,136.000000,2630.000000,5142.000000,0.090000,0.080000,0.080000,0.100000,0.070000
75%,195.000000,2775.000000,5511.000000,8.340000,8.460000,8.430000,9.000000,9.000000
max,276.000000,2961.000000,5911.000000,176405.000000,181137.000000,185960.000000,190873.000000,195875.000000

In [ ]:
import pandas as pd

In [23]:
total_distinct_countries = df['Area'].unique()

In [24]:
print (total_distinct_countries)

['Algeria' 'Angola' 'Benin' 'Botswana' 'Burkina Faso' 'Cabo Verde'
 'Cameroon' 'Central African Republic' 'Chad' 'Comoros' 'Congo'
 "Côte d'Ivoire" 'Djibouti' 'Egypt' 'Eswatini' 'Ethiopia' 'Ethiopia PDR'
 'Gabon' 'Gambia' 'Ghana' 'Guinea' 'Guinea-Bissau' 'Kenya' 'Lesotho'
 'Liberia' 'Madagascar' 'Malawi' 'Mali' 'Mauritania' 'Mauritius' 'Morocco'
 'Mozambique' 'Namibia' 'Niger' 'Nigeria' 'Rwanda' 'Sao Tome and Principe'
 'Senegal' 'Seychelles' 'Sierra Leone' 'South Africa' 'Sudan'
 'Sudan (former)' 'Togo' 'Tunisia' 'Uganda' 'United Republic of Tanzania'
 'Zambia' 'Zimbabwe']

In [25]:
area_series = df['Area'].squeeze()

In [27]:
count_total_distinct_countries = area_series.value_counts()

In [28]:
print(count_total_distinct_countries)

Area
Kenya                          1560
Egypt                          1488
Nigeria                        1474
Côte d'Ivoire                  1467
Senegal                        1462
Cameroon                       1460
Uganda                         1458
Zambia                         1451
Malawi                         1447
Ethiopia                       1447
Madagascar                     1439
Mozambique                     1427
Rwanda                         1426
Angola                         1424
United Republic of Tanzania    1419
Congo                          1413
Guinea                         1410
Burkina Faso                   1409
Niger                          1403
South Africa                   1399
Zimbabwe                       1393
Morocco                        1393
Mauritius                      1378
Botswana                       1378
Ghana                          1354
Central African Republic       1344
Chad                           1343
Tunisia                        1338
Sudan                          1316
Algeria                        1313
Togo                           1294
Mali                           1293
Benin                          1285
Eswatini                       1284
Namibia                        1283
Cabo Verde                     1260
Gabon                          1245
Sierra Leone                   1242
Liberia                        1206
Mauritania                     1195
Sao Tome and Principe          1177
Gambia                         1168
Lesotho                        1150
Guinea-Bissau                  1128
Djibouti                       1095
Seychelles                       68
Sudan (former)                   53
Comoros                          45
Ethiopia PDR                     39
Name: count, dtype: int64

In [30]:
df['Y2017'].mean()

140.9177648602722

In [31]:
wine_produced = df[df['Item'] == 'Wine'].groupby('Item')[['Y2015', 'Y2018']].sum()

In [32]:
print(wine_produced)

        Y2015    Y2018
Item
Wine  4251.81  4039.32

In [33]:
col_2017= df[['Y2017', 'Area']]

In [39]:
group_17 = maxva.sort_values(by='Y2017')

In [40]:
print(group_17)

                                  Y2017
Area
Sudan (former)                     0.00
Ethiopia PDR                       0.00
Comoros                           59.84
Seychelles                       442.34
Sao Tome and Principe          12662.63
Cabo Verde                     14650.74
Guinea-Bissau                  19102.77
Lesotho                        21267.96
Botswana                       22101.30
Djibouti                       22729.91
Gambia                         23154.18
Gabon                          27979.64
Liberia                        29342.20
Namibia                        29874.89
Central African Republic       29937.00
Congo                          41181.68
Togo                           49841.88
Mauritius                      51114.83
Eswatini                       54343.33
Sierra Leone                   55311.33
Chad                           71594.68
Rwanda                         73663.69
Zimbabwe                       75919.34
Senegal                        95681.15
Guinea                         98138.87
Burkina Faso                  101855.07
Zambia                        103223.77
Tunisia                       124167.20
Benin                         124771.22
Niger                         126707.58
Madagascar                    131197.73
Mali                          149928.33
Mauritania                    156665.46
Mozambique                    161407.98
Malawi                        181098.71
Uganda                        213950.38
Côte d'Ivoire                 224599.01
Angola                        229159.57
Cameroon                      232030.43
Sudan                         239931.92
Kenya                         264660.66
United Republic of Tanzania   322616.85
Algeria                       325644.27
Ghana                         337599.06
Morocco                       388495.36
Ethiopia                      448683.76
South Africa                  517590.54
Egypt                         866379.92
Nigeria                      1483268.23

In [41]:
group_17.iloc[6]

Y2017    19102.77
Name: Guinea-Bissau, dtype: float64

In [36]:
maxva = col_2017.groupby('Area').sum()

In [37]:
maxva.idxmax()[0]

'Nigeria'

In [42]:
fraction = 19/20

In [44]:
percent_frac = fraction * 100

In [46]:
col_2014 = df['Y2014'].isnull().sum()

In [47]:
print(col_2014)

1589

In [48]:
col_2014_1 = df['Y2014'].shape[0]

In [49]:
print(col_2014_1)

60943

In [50]:
percent_2014miss = (col_2014 / col_2014_1) * 100

In [51]:
print(percent_2014miss)

2.6073544131401474

In [52]:
sum_process_2017 = df[df['Element'] == 'Processing'].groupby('Element')['Y2017'].sum()

In [53]:
print(sum_process_2017)

Element
Processing    292836.0
Name: Y2017, dtype: float64

In [55]:
madagascar_only = df[df ['Area'] == 'Madagascar']

In [57]:
print(madagascar_only)

       Area Code        Area  Item Code           Item  Element Code  \
30715        129  Madagascar       2501     Population           511
30716        129  Madagascar       2501     Population          5301
30717        129  Madagascar       2901    Grand Total           664
30718        129  Madagascar       2901    Grand Total           674
30719        129  Madagascar       2901    Grand Total           684
...          ...         ...        ...            ...           ...
32149        129  Madagascar       2899  Miscellaneous          5142
32150        129  Madagascar       2899  Miscellaneous           645
32151        129  Madagascar       2899  Miscellaneous           664
32152        129  Madagascar       2899  Miscellaneous           674
32153        129  Madagascar       2899  Miscellaneous           684

                                      Element             Unit     Y2014  \
30715           Total Population - Both sexes     1000 persons  23590.00
30716                Domestic supply quantity      1000 tonnes      0.00
30717           Food supply (kcal/capita/day)  kcal/capita/day   1986.00
30718  Protein supply quantity (g/capita/day)     g/capita/day     44.45
30719      Fat supply quantity (g/capita/day)     g/capita/day     22.18
...                                       ...              ...       ...
32149                                    Food      1000 tonnes     10.00
32150     Food supply quantity (kg/capita/yr)               kg      0.44
32151           Food supply (kcal/capita/day)  kcal/capita/day      0.00
32152  Protein supply quantity (g/capita/day)     g/capita/day      0.01
32153      Fat supply quantity (g/capita/day)     g/capita/day      0.01

          Y2015     Y2016     Y2017     Y2018
30715  24234.00  24894.00  25571.00  26262.00
30716      0.00      0.00      0.00      0.00
30717   1922.00   1918.00   1943.00   1938.00
30718     43.26     43.35     43.94     44.17
30719     22.97     23.83     25.26     24.12
...         ...       ...       ...       ...
32149     11.00     11.00     11.00     12.00
32150      0.44      0.44      0.44      0.44
32151      0.00      0.00      0.00      0.00
32152      0.01      0.01      0.01      0.01
32153      0.01      0.01      0.01      0.01

[1439 rows x 12 columns]

In [58]:
print(df['Element'].iloc[3])

Protein supply quantity (g/capita/day)

In [59]:
print(type(madagascar_only))

<class 'pandas.core.frame.DataFrame'>

In [60]:
protein_supply_2015 = (madagascar_only[madagascar_only['Element'] == 'Food'])['Y2015'].sum()

In [61]:
print(protein_supply_2015)

21120.649999999998

In [62]:
highest_stockvariation = df[df['Element'] == 'Stock Variation'].groupby('Element')[['Y2014', 'Y2015', 'Y2016', 'Y2017', 'Y2018']].sum()

In [63]:
print(highest_stockvariation)

                    Y2014     Y2015     Y2016     Y2017     Y2018
Element
Stock Variation  58749.83  34910.99  33140.12  54316.91  20577.91

In [64]:
highest_stockvariation.idxmax(axis=1)[0]

'Y2014'